#layout-wrapper.dark {
  color: #dedede;
}
#layout-wrapper > header {
  position: relative;
  color: white;
}

#layout-wrapper > header > .mode-container {
  position: absolute;
  right: 5px;
  top: 0px;
}

.ta-c {
  text-align: center;
}

#main-app > main {
  height: 90vh;
}

.itemRow {
  margin-top: 50px;
  min-height: 500px;
}
.itemRow .ant-divider-vertical {
  height: auto;
}
