#layout-wrapper.dark {
  color: #dedede;
}
#layout-wrapper > header {
  position: relative;
  color: white;
}

#layout-wrapper > header > .mode-container {
  position: absolute;
  right: 5px;
  top: 0px;
}

.ta-c {
  text-align: center;
}

#main-app > main {
  height: 90vh;
}

.write-form {
  margin-top: 20px;
}
